.container{
    background-color:rgb(229, 229, 229);
    height:500px;
    width:80%;
    border: 2px solid rgb(142, 144, 139);
    margin-left: 150px;
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
}
.box1{
    height: 60px;
    width: 100%;
    background-color: rgb(68, 114, 114);
    padding-top: 4px;
    color:white;  
}
.fa{
    padding: 10px;
}
h1{
   text-align: center; 
   position: relative;
   bottom: 60px;
}
.box4{
    height: 30px;
    width: 400px;
    background-color:rgb(25, 31, 31) ;
    position: absolute; 
    bottom: 400px;
    left: 600px; 
    border-radius: 5px; 
    color: aliceblue;
    font-size: larger;
}  
.box2{
    height:370pX;
    width: 200px;
    background-color:rgb(25, 31, 31) ;
    margin: 20px;
    border-radius: 15px; 
}
.box3{
    height: 120px;
    width: 600px;
    background-color:rgb(25, 31, 31) ;
    position: absolute;
    left:500px;
    bottom: 100px;
    border-radius: 15px; 
}
.main{
    display: flex;
}
.box5{
    height: 90px;
    width:150px;
    background-color: rgb(25, 31, 31);
    position: relative;
    bottom: 300px; 
    left:350px;  
    border-radius: 15px; 
}
.box6{
    height: 90px;
    width:150px;
    background-color:rgb(25, 31, 31) ;
    position: relative;
    bottom: 300px; 
    left:400px;
    border-radius: 15px;    
}
.box7{
    height: 90px;
    width:150px;
    background-color:rgb(25, 31, 31) ;
    position: relative;
    bottom: 300px; 
    left:450px;
    border-radius: 15px;   
}



